<h1>討論版列表</h1>

<%= link_to '新增討論版', new_group_path if current_user %>

<table class="table">
  <thead>
    <tr>
      <td>討論版</td>
      <td>敘述</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_path(group) %></td>
        <td><%= group.description %></td>
        <td><%= link_to "編輯", edit_group_path(group) if current_user && group.user == current_user %></td>
        <td><%= link_to "刪除", group_path(group), method: :delete if current_user && group.user == current_user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
