<h1><%= @group.name %></h1>

<p><%= @group.description %></p>

<% if current_user.present? %>
  <% if current_user.is_member_of?(@group) %>
    <%= link_to '退出討論版', quit_group_path(@group), method: :post, class: "btn btn-default" %>
  <% else %>
    <%= link_to '加入討論版', join_group_path(@group), method: :post, class: "btn btn-primary" %>
  <% end %>
<% end %>

<h2>文章列表</h2>

<%= link_to '新增文章', new_group_post_path(@group), class: "btn btn-primary" if current_user.present? && current_user.is_member_of?(@group) %>

<table class="table">
  <thead>
    <tr>
      <td>標題</td>
      <td>內容</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, group_post_path(@group, post) %></td>
        <td><%= post.content %></td>
        <td><%= link_to "編輯", edit_group_post_path(@group, post), class: "btn btn-primary" if current_user && post.user == current_user %></td>
        <td><%= link_to "刪除", group_post_path(@group, post), method: :delete, class: "btn btn-default" if current_user && post.user == current_user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
